# Exercise PPM Part 2 - Small dataset

Imports

In [2]:
import pandas as pd

Import an event log as a pandas dataframe

In [3]:
df = pd.read_csv("Event_Logs/small3insert.csv")
df

,Case,Event,Activity,Timestamp,Resource,Resource_failure_rate,Resource_Pass/Fail,order,resource_anomaly_type,resource_parameter,trace_change_resource,variant_num
0,case_0,9367,Activity A,1970-01-01 09:00:00,Resource_Group2_res_1,0.026984,0,1,normal,NaN,0,var_358
1,case_0,9368,Activity B,1970-01-01 10:00:00,Resource_Group0_res_0,0.018454,0,2,normal,NaN,0,var_358
2,case_0,9369,Activity C,1970-01-01 11:00:00,Resource_Group1_res_0,0.002551,0,3,normal,NaN,0,var_358
3,case_0,9370,Activity D,1970-01-01 12:00:00,Resource_Group2_res_2,0.029775,0,4,normal,NaN,0,var_358
4,case_0,9371,Activity E,1970-01-01 13:00:00,Resource_Group0_res_0,0.018454,0,5,normal,NaN,0,var_358
...,...,...,...,...,...,...,...,...,...,...,...,...
45842,case_999,31364,Activity E,1970-01-01 13:00:00,Resource_Group0_res_0,0.018454,0,5,normal,NaN,0,var_171
45843,case_999,31365,Activity K,1970-01-01 14:00:00,Resource_Group1_res_1,0.007068,0,6,normal,NaN,0,var_171
45844,case_999,31366,Activity Q,1970-01-01 15:00:00,Resource_Group0_res_0,0.018454,0,7,normal,NaN,0,var_171
45845,case_999,31367,Activity L,1970-01-01 16:00:00,Resource_Group0_res_0,0.018454,0,8,normal,NaN,0,var_171
45846,case_999,31368,Activity F,1970-01-01 17:00:00,Resource_Group0_res_0,0.018454,0,9,normal,NaN,0,var_171

Create an event log that retains only the attributes caseid, activity, timestamp, resource and outcome.

In [6]:
df = df.rename(columns={"Case":"caseid", "Activity":"activity", "Timestamp":"timestamp", "Resource":"resource", "resource_anomaly_type":"outcome"})
df_2 = df[["caseid", "activity", "timestamp", "resource", "outcome"]].copy()
df_2

,caseid,activity,timestamp,resource,outcome
0,case_0,Activity A,1970-01-01 09:00:00,Resource_Group2_res_1,normal
1,case_0,Activity B,1970-01-01 10:00:00,Resource_Group0_res_0,normal
2,case_0,Activity C,1970-01-01 11:00:00,Resource_Group1_res_0,normal
3,case_0,Activity D,1970-01-01 12:00:00,Resource_Group2_res_2,normal
4,case_0,Activity E,1970-01-01 13:00:00,Resource_Group0_res_0,normal
...,...,...,...,...,...
45842,case_999,Activity E,1970-01-01 13:00:00,Resource_Group0_res_0,normal
45843,case_999,Activity K,1970-01-01 14:00:00,Resource_Group1_res_1,normal
45844,case_999,Activity Q,1970-01-01 15:00:00,Resource_Group0_res_0,normal
45845,case_999,Activity L,1970-01-01 16:00:00,Resource_Group0_res_0,normal
45846,case_999,Activity F,1970-01-01 17:00:00,Resource_Group0_res_0,normal