# Exercises PPM Part 1 - Hospital dataset

Imports Libraries

In [2]:
import pandas as pd

Load the event log as a dataframe

In [3]:
hospital_df = pd.read_csv("Event_Logs/hospital_billing.csv")
hospital_df

,Unnamed: 0,case_id,activity,lifecycle,resource,timestamp,actorange,actred,blocked,casetype,...,iscancelled,isclosed,msgcode,msgcount,msgtype,speciality,state,version,activity_instance_id,.order
0,1,A,NEW,complete,ResA,2012-12-16 19:33:10,NaN,NaN,False,A,...,False,True,NaN,NaN,NaN,A,In progress,NaN,1,1
1,2,A,FIN,complete,NaN,2013-12-15 19:00:37,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,2,2
2,3,A,RELEASE,complete,NaN,2013-12-16 03:53:38,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Released,NaN,3,3
3,4,A,CODE OK,complete,NaN,2013-12-17 12:56:29,False,False,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,A,4,4
4,5,A,BILLED,complete,ResB,2013-12-19 03:44:31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Billed,NaN,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49946,49947,PTN,NEW,complete,ResA,2013-03-27 22:29:13,NaN,NaN,False,A,...,False,True,NaN,NaN,NaN,L,In progress,NaN,49947,49947
49947,49948,PTN,FIN,complete,NaN,2013-05-27 00:43:02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,49948,49948
49948,49949,PTN,RELEASE,complete,NaN,2013-05-27 01:56:12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Released,NaN,49949,49949
49949,49950,PTN,CODE OK,complete,NaN,2013-05-30 01:42:39,False,False,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,B,49950,49950
49950,49951,PTN,BILLED,complete,ResB,2013-08-27 13:13:01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Billed,NaN,49951,49951

Rename the attributes as “caseid, activity, ts”, if needed

In [4]:
hospital_df = hospital_df.rename(columns={"case_id": "caseid", "timestamp":"ts"})
hospital_df

,Unnamed: 0,caseid,activity,lifecycle,resource,ts,actorange,actred,blocked,casetype,...,iscancelled,isclosed,msgcode,msgcount,msgtype,speciality,state,version,activity_instance_id,.order
0,1,A,NEW,complete,ResA,2012-12-16 19:33:10,NaN,NaN,False,A,...,False,True,NaN,NaN,NaN,A,In progress,NaN,1,1
1,2,A,FIN,complete,NaN,2013-12-15 19:00:37,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,2,2
2,3,A,RELEASE,complete,NaN,2013-12-16 03:53:38,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Released,NaN,3,3
3,4,A,CODE OK,complete,NaN,2013-12-17 12:56:29,False,False,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,A,4,4
4,5,A,BILLED,complete,ResB,2013-12-19 03:44:31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Billed,NaN,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49946,49947,PTN,NEW,complete,ResA,2013-03-27 22:29:13,NaN,NaN,False,A,...,False,True,NaN,NaN,NaN,L,In progress,NaN,49947,49947
49947,49948,PTN,FIN,complete,NaN,2013-05-27 00:43:02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,49948,49948
49948,49949,PTN,RELEASE,complete,NaN,2013-05-27 01:56:12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Released,NaN,49949,49949
49949,49950,PTN,CODE OK,complete,NaN,2013-05-30 01:42:39,False,False,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,B,49950,49950
49950,49951,PTN,BILLED,complete,ResB,2013-08-27 13:13:01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Billed,NaN,49951,49951

Create a new dataframe retaining only the caseid, activity and ts attributes

In [5]:
df = hospital_df[["caseid", "activity", "ts"]].copy()
df["ts"] = pd.to_datetime(df["ts"])
df

      caseid activity                  ts
0          A      NEW 2012-12-16 19:33:10
1          A      FIN 2013-12-15 19:00:37
2          A  RELEASE 2013-12-16 03:53:38
3          A  CODE OK 2013-12-17 12:56:29
4          A   BILLED 2013-12-19 03:44:31
...      ...      ...                 ...
49946    PTN      NEW 2013-03-27 22:29:13
49947    PTN      FIN 2013-05-27 00:43:02
49948    PTN  RELEASE 2013-05-27 01:56:12
49949    PTN  CODE OK 2013-05-30 01:42:39
49950    PTN   BILLED 2013-08-27 13:13:01

[49951 rows x 3 columns]

Create a new dataframe with columns caseid, list of events in a case (ordered by timestamp)

In [6]:
res = df.sort_values(by=['caseid','ts']).groupby('caseid', as_index=False)['activity'].apply(list)
res

     caseid                                           activity
0         A               [NEW, FIN, RELEASE, CODE OK, BILLED]
1        AA  [NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...
2       AAA                                              [NEW]
3       AAB                                              [NEW]
4       AAC  [NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...
...     ...                                                ...
9994    ZZI       [NEW, FIN, RELEASE, CODE OK, REOPEN, DELETE]
9995    ZZJ                                              [NEW]
9996    ZZK  [NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...
9997    ZZL               [NEW, FIN, RELEASE, CODE OK, BILLED]
9998    ZZM  [NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...

[9999 rows x 2 columns]

Augment the event log just created with two new attributes: duration, event_number

In [7]:
# Calculate duration of each caseid
duration = (df.sort_values(by=['caseid', 'ts']).groupby('caseid')['ts'].last() - df.sort_values(by=['caseid', 'ts']).groupby('caseid')['ts'].first()).to_frame('duration')

# Count occurrences of activity in each caseid
event_num = df.groupby('caseid')['activity'].count().to_frame('event_number')

# Merge df with calculated columns
df_2 = pd.merge(pd.merge(res, duration, on="caseid"), event_num, on="caseid")
df_2

,caseid,activity,duration,event_number
0,A,"[NEW, FIN, RELEASE, CODE OK, BILLED]",367 days 08:11:21,5
1,AA,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",193 days 10:31:09,6
2,AAA,[NEW],0 days 00:00:00,1
3,AAB,[NEW],0 days 00:00:00,1
4,AAC,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",186 days 12:20:43,6
...,...,...,...,...
9994,ZZI,"[NEW, FIN, RELEASE, CODE OK, REOPEN, DELETE]",117 days 18:41:22,6
9995,ZZJ,[NEW],0 days 00:00:00,1
9996,ZZK,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",116 days 11:07:50,6
9997,ZZL,"[NEW, FIN, RELEASE, CODE OK, BILLED]",158 days 07:16:47,5
9998,ZZM,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",158 days 10:52:19,6

Find the longest/shortest case by duration

In [9]:
maxmax = df_2.loc[df_2.duration == df_2.duration.max()].caseid
print("The longest cases by duration are the following: " + maxmax.to_string(index=False).replace('\n', ','))
minmin = df_2.loc[df_2.duration == df_2.duration.min()].caseid
print("\nThe shortest cases by duration are the following: " + minmin.to_string(index=False).replace('\n', ','))

The longest cases by duration are the following: GTC

The shortest cases by duration are the following: AAA,AAB,AAD,AAK,ABK,ACF,ACG,ACH,ACL,ACN,ADL, AE,AEM,AFC,AFE,AFK,AFM,AGH,AGJ,AHD,AHJ,AHL,AJA,AJC,AJG,AKE,AKF,AKG,AKK,ALB,ALE,ALK,AMA,AML,ANL,AOC,AOH, AP,APC,APF,API,APK,AQB,AQG,ARG,ARL,ARN,ASF,ASM,ATC,ATE,ATF,ATN, AU,AUA,AUE,AUH,AUI,AUJ,AVH,AWD,AWG,AWM,AXB, AY,AYB,AZA,AZF,AZL,BAB,BAD,BAK,BBK,BCF,BCG,BCH,BCL,BCN,BDL,BEM,BFC,BFM,BGH,BGJ,BHD,BHI,BHJ,BJA,BJC,BJG,BJN,BKE,BKG,BKK,BLB,BLE,BLK,BMA,BML,BNL,BOC,BOF,BOH,BPC,BPF,BPI,BPK,BQG,BRG,BRL,BRN,BSG,BSM,BTA,BTE,BTF,BTJ,BTM,BTN, BU,BUA,BUH,BUI,BUJ,BVH,BWD,BWE,BWG,BWM,BXB,BXK, BY,BYB,BYL,BZA,BZF,BZL,CAB,CAD,CAK,CBK,CCF,CCG,CCH,CCL,CCN,CDL, CE,CEA,CEC,CEK,CEM,CFM,CGH,CGJ,CHD,CHI,CHJ,CHL,CJA,CJC,CJG,CKE,CKF,CKG,CKK,CLB,CLE,CLK,CMA,CML,CNJ,CNL,COC,COF,COH,COM, CP,CPC,CPF,CPI,CPK, CR,CRG,CRL,CSM,CTA,CTE,CTF,CTH,CTJ,CTM, CU,CUA,CUH,CUI,CUJ,CVH,CWD,CWM,CXB,CXK, CY,CYB,CYL,CZA,CZL,DAD,DAK,DBK,DCF,DCH,DCL,DCN,DDF,DDI,DDL, DE,DEA,DEC,DEK,DEM,DFC,DFM,DGH,DGJ,DHD,DHI,DHJ,DHL,DHN,DJA,DJG,DKE,DKF,DKG,DKK,DLB,DLE,DLK,DMA,DML,DNJ,DNL,DOC,DOF,DOH,DOM,DPC,DPF,DPI,DQG, DR,DRG,DRL,DRN,DSC,DSD,DSM,DSN,DTA,DTF,DTH,DTJ,DTM, DU,DUA,DUH,DUI,DVH,DWD,DWM,DXB,DXK, DY,DYB,DYL,DZA,DZL,EAD,EAK,ECH,ECL,EDF,EDI,EDL, EE,EEA,EEC,EEM,EFC,EFM,EGD,EGH,EGJ,EHD,EHI,EHJ,EHL,EHN,EJA,EJF,EJG,EKE,EKF,EKG,EKK,ELB,ELE,ELK,EMA,EML,ENJ,ENL,EOC,EOF,EOH,EPF,EPI,EPK,EQG, ER,ERG,ERL,ERN,ESC,ESD,ESM,ESN,ETA,ETE,ETF,ETH,ETJ,ETM, EU,EUA,EUH,EUI,EVH,EWB,EWD,EWM,EXB,EXK, EY,EYB,EYL,EZA,EZL,FAD,FAK,FCF,FCH,FCL,FCN,FDF,FDI,FDL, FE,FEA,FEC,FEE,FEM,FFC,FFM,FGD,FGJ,FHD,FHI,FHJ,FHL,FHN,FJA,FJF,FJG,FKE,FKF,FKG,FKK,FLB,FLE,FLJ,FLK,FMA,FML,FNL,FOC,FOF,FOH,FOM,FPF,FPI,FPK,FQG, FR,FRG,FRL,FRN,FSC,FSD,FSL,FSM,FSN,FTA,FTE,FTF,FTH,FTJ,FTM,FUA,FUH,FUI,FVH,FWB,FWD,FWM,FXB,FXK, FY,FYB,FYL, FZ,FZA,FZL,GAK,GBK,GCF,GCH,GCL,GCN,GDG,GDI,GDL, GE,GEE,GEM,GFM,GGB,GGD,GGJ,GHD,GJA,GJF,GJG,GKE,GKF,GKK,GLB,GLE,GLJ,GLK,GMA,GML,GNL,GOC,GOF,GOH,GOM,GPF,GPI,GPK, GQ, GR,GRG,GRL,GSC,GSD,GSL,GSM,GSN,GTA,GTE,GTF,GTH,GTJ,GUA,GUH,GUI,GUL,GVH,GWB,GWD,GWM,GXB,GXK, GY,GYL, GZ,GZA,GZL,HAD,HAK,HBK,HCF,HCH,HCL,HCN,HDG,HDI,HDL, HE,HEA,HEC,HEE,HEM,HFC,HFM,HGB,HGD,HGJ,HHD,HHJ,HJA,HJF,HJG,HKE,HKF,HKK,HLE,HLJ,HML,HNL,HOF,HOH,HOI,HOM,HPF,HPG,HPI,HPK, HQ,HQG,HQK, HR,HRG,HRL,HRN,HSC,HSD,HSL,HSM,HTA,HTE,HTH,HTJ,HUH,HUI,HVH,HWB,HWD,HWM,HXB, HY,HYF,HYL, HZ,HZA,HZL,IAD,IAK,IBK,ICF,ICH,ICL,ICN,IDG,IDI,IDL, IE,IEA,IEC,IEE,IEM,IFC,IFM,IGB,IGJ, IH,IHD,IHJ,IHN,IJA,IJG,IJM,IKE,IKK,ILE,ILJ, IM,IMA,IML,INL,IOC,IOF,IOH,IOI,IOM,IPB,IPF,IPG,IPI, IQ,IQK, IR,IRG,IRL,IRN,ISC,ISD,ISM,ITA,ITC,ITE,ITF,ITH,ITJ,IUA,IUH,IUI,IVH,IWB,IWD,IWM,IXB,IXK, IY,IYF,IYL, IZ,IZA,IZL,JAD,JAK,JBI,JBJ,JBK,JCF,JCH,JCL,JCN,JDG,JDI,JDL, JE,JEA,JEC,JEE,JEF,JEM,JFM,JGB,JGD,JGJ,JHD,JHJ,JHN,JIC,JJA,JJF,JJG,JJM,JKE,JKK,JLD,JLE,JLJ, JM,JML,JNL,JOB,JOC,JOF,JOH,JOI,JPB,JPF,JPG,JPI, JQ,JQG,JQK, JR,JRG,JRL,JRN,JSD,JTA,JTC,JTE,JTF,JTH,JTJ,JUA,JUH,JUI,JVH,JWB,JWD,JWM,JXB,JXK, JY,JYF,JYL, JZ,JZA,JZL,KAD,KAK,KBJ,KBK,KCF,KCL,KCN,KDG,KDI,KDL, KE,KEC,KEE,KEF,KEM,KFM,KGD,KGJ,KHD,KHJ,KHN,KIC,KIG,KJF,KJG,KJM,KKE,KKK,KLD,KLE, KM,KMG,KML,KMN,KOB,KOC,KOF,KOH,KOI,KOM,KPB,KPF,KPG,KPI,KQB,KQG,KQK, KR,KRG,KRL,KRN,KSC,KSD,KTA,KTC,KTE,KTF,KTH,KTJ,KUA,KUE,KUH,KUI,KVH,KWB,KWD,KWK,KWM,KXB,KXK, KY,KYA,KYF,KYL, KZ,KZA,KZC,KZL,LAD,LAK,LBJ,LBK,LCH,LCL,LCN,LDG,LDL, LE,LEC,LEE,LEF,LEM,LFM,LGD,LGJ,LHJ,LHN, LI,LIG,LJF,LJG,LJK,LJL,LJM,LKE,LKK,LLD,LLE,LLJ, LM,LML,LMN,LOB,LOC,LOF,LOH,LOI,LOM,LPB,LPF,LPG,LPI,LQB,LQG, LR,LRG,LRN,LSC,LTA,LTC,LTE,LTF,LTH,LTI,LTJ,LUE,LUH,LUI,LWB,LWK,LWM,LXB,LXK, LY,LYA,LYF,LYL, LZ,LZA,LZC,LZL,MAD,MAK,MBC,MBJ,MBK,MCF,MCH,MCL,MCN,MDG,MDL, ME,MEC,MEE,MEM,MFM,MGD,MGJ,MHJ, MI,MIC,MIG,MJF,MJG,MJK,MJM,MKB,MKE,MKK,MLD,MLE,MLJ, MM,MML,MMN,MOB,MOC,MOE,MOF,MOH,MOI,MOM,MPB,MPF,MPG,MPI,MQB,MQG, MR,MRN,MSC,MSD,MTA,MTC,MTE,MTH,MTI,MTJ,MUH,MUI,MWB,MWD,MWK,MWM,MXB,MXK, MY,MYA,MYF,MYL, MZ,MZA,MZC,MZH,MZL,NAK,NBC,NCH,NCL,NCN,NDL, NE,NEC,NEE,NEM,NFM,NGB,NGD,NGJ,NHJ,NIC,NIG,NJF,NJG,NJK,NKB,NKE,NKK,NLD,NLE,NLJ, NM,NML,NMN,NOB,NOC,NOE,NOF,NOH,NOI,NOM,NPB,NPF,NPG,NPI,NQG, NR,NRK,NRL,NRN,NTA,NTC,NTE,NTH,NTI,NTJ,NTL,NUH,NUI,NVM,NWB,NWD,NWK,NWM,NXB,NXK, NY,NYA,NYF,NYL, NZ,NZA,NZC,NZH,NZL,OAD,OAK,OBC,OBE,OBJ,OBK,OCH,OCL,OCN,ODL, OE,OEC,OEM,OFF,OFM,OGB,OGD,OGJ,OHH,OHJ, OI,OIG,OJF,OJK,OKE,OKK,OLA,OLJ, OM,OML,OMN,OOB,OOC,OOE,OOF,OOH,OOI,OOM,OPB,OPF,OPG,OPI, OR,ORK,ORL,ORN,OSC,OSD,OTA,OTC,OTE,OTI,OTJ,OUH,OUI,OVM,OWB,OWK,OWM,OXB,OXK,OYA,OYF,OYL, OZ,OZA,OZC,OZL,PAD,PAK,PBC,PBJ,PBN,PCH,PCL,PCN,PDL, PE,PEC,PEE,PEM,PFF,PFM,PGB,PGD,PHJ,PIC,PIG,PJE,PJF,PJG,PJK,PJM,PKE,PKK,PLA,PLJ, PM,PMN,PNC,POB,POC,POE,POF,POH,POI,PPB,PPG,PPI,PQD,PQG, PR,PRK,PSC,PSD,PSE,PTA,PTC,PTE,PTH,PTI,PTJ,PUH,PVM,PWB,PWK,PXB,PXK, PY,PYA,PYF,PYL, PZ,PZA,PZC,PZH,PZL,QAD,QAK,QBJ,QBN,QCH,QCL,QCN,QDL, QE,QEC,QEE,QEM,QFM,QGD,QGJ,QHI, QI,QIC,QIG,QII,QJE,QJF,QJG,QJK,QKE,QKK,QLA,QLD,QLL, QM,QML,QMN,QNC,QNH,QOB,QOC,QOE,QOF,QOH,QOI,QPG,QPI,QQG, QR,QRB,QRJ,QSC,QSD,QSE,QSF,QSJ,QTA,QTC,QTE,QTH,QTI,QTJ,QUH,QVM,QWB,QWK,QXB,QXK, QY,QYA,QYF,QYL, QZ,QZA,QZC,QZH,QZL,RAD,RAK,RBJ,RBK,RCL,RCN,RDL, RE,REC,REE,REM,RFM,RGB,RGD,RGI,RGJ,RHI, RI,RIC,RIG,RJE,RJG,RJH,RJK,RKE,RKK,RLA,RLD,RLJ,RLL, RM,RML,RMN,RNA,RNC,RNH,ROB,ROC,ROF,ROI,ROK,RPB,RPG,RPI,RPM,RQG,RRB,RSC,RSD,RSE,RSF,RSJ,RTA,RTC,RTE,RTH,RTI,RTJ,RUH,RVM,RWB,RWK,RXB,RXK, RY,RYA,RYF,RYL,RZA,RZC,RZH,RZL,SAD,SAK,SBJ,SBN,SCL,SCN,SDL, SE,SEC,SEE,SEM,SFH,SGB,SGD,SGI,SGJ, SI,SIC,SIG,SJE,SJF,SJG,SJK,SKE,SKK,SLA,SLD,SLJ,SLL, SM,SMN,SNA,SNC,SNH,SOB,SOC,SOF,SOI,SOK,SPB,SPI,SPM,SQG,SQL,SSC,SSD,SSF,SSJ,STA,STC,STE,STH,STI,STJ,SUH,SVM,SWB,SWK,SXB,SXK,SYA,SYF,SYL, SZ,SZA,SZC,SZH,SZL,TAD,TAK,TBJ,TBN,TCL,TCN,TDL, TE,TEC,TEM, TF,TFM,TGB,TGD,TGI, TI,TIC,TJE,TJF,TJG,TJK,TJM,TKB,TKE,TKK,TLA,TLJ,TLL, TM,TML, TN,TNA,TNC,TNH,TOB,TOC,TOF,TOI,TOK,TPB,TPG,TPI,TPM,TQG,TQL,TSC,TSE,TSF,TSJ, TT,TTA,TTC,TTE,TTH,TTI,TTJ,TUH,TVM,TWB,TWK,TXB,TYA,TYD,TYL, TZ,TZA,TZC,TZH,TZJ,TZL,  U,UAD,UAK,UBG,UBH,UBN,UCL,UCN,UDL, UE,UEC,UEE,UEM,UFH,UGB,UGI,UGJ,UGL,UIA,UIC,UIG,UJE,UJF,UJG,UJK,UJN,UKB,UKE,UKK,ULJ,ULL, UM,UML, UN,UNA,UNC,UNH,UOC,UOF,UOI,UOK,UPB,UPG,UPI,UQG,UQL,USC,USE,USJ, UT,UTA,UTC,UTE,UTH,UTI,UTJ,UUH,UVM,UWB,UWK,UXB,UYD,UYF,UYL, UZ,UZA,UZC,UZJ,UZL,  V,VAD,VAK,VBH,VBN,VCL,VCN, VE,VEC,VEE,VEM,VFH,VFJ,VGB,VGD,VGI,VGJ,VGL,VHH,VIA,VIC,VIG,VJE,VJF,VJG,VJK,VJM,VKE,VKK,VLA,VLJ,VLL, VM,VML, VN,VNA,VNC,VNH,VOC,VOF,VOI,VOK,VPB,VPG,VPI,VQG,VQL,VSA,VSC,VSE,VSF,VSJ, VT,VTA,VTC,VTE,VTH,VTI,VTJ,VUH,VVM,VWB,VWK,VXB,VYA,VYD,VYF,VYL, VZ,VZA,VZC,VZJ,VZL,WAD,WAK,WBG,WBH,WBN,WCL,WCN, WE,WEC,WEE,WEM,WFH,WFJ,WGD,WGI,WGJ,WGL,WHH,WIA,WIC,WIG,WJE,WJF,WJG,WJK,WJM,WJN,WKB,WKE,WKK,WLA,WLJ,WLL,WML, WN,WNC,WNH,WOC,WOF,WOI,WOK,WPB,WPG,WPI,WQG,WQL,WRM,WSA,WSC,WSE,WSF,WSJ, WT,WTA,WTE,WTH,WTI,WTJ,WUH,WVD,WVM,WWB,WWK,WXB,WYA,WYD,WYF,WYL, WZ,WZA,WZC,WZJ,WZL,XAK,XBG,XBN,XCL,XCN, XE,XEE,XEM,XFH,XGD,XGI,XGJ,XGL,XHH,XIA,XIC,XIE,XIG,XJE,XJF,XJG,XJM,XKB,XKE,XKK,XLL,XML, XN,XNC,XNH,XOF,XOI,XOK,XPB,XPG,XPI,XQG,XQL,XRM,XSA,XSC,XSE,XSJ, XT,XTA,XTE,XTH,XTI,XTJ,XUH,XVD,XVM,XWB,XWK,XXB,XXJ,XYA,XYF,XYL, XZ,XZA,XZC,XZL,YAK,YBG,YBH,YBL,YBN,YCL,YEC,YEE,YEK,YEM,YFH,YFJ,YGD,YGI,YGJ,YGL,YIA,YIC,YIE,YIG,YJE,YJF,YJG,YJK,YJM,YKE,YKK,YLA,YLL,YML,YNH,YOC,YOF,YOI,YOK,YPB,YPG,YQG,YQL,YRM,YSA,YSC,YSE,YSF,YSJ, YT,YTA,YTE,YTH,YTI,YTJ,YUH,YVD,YVM,YWB,YWK,YXB,YYA,YYB,YYF,YYL,YZA,YZC,YZJ,ZAK,ZBA,ZBH,ZBL,ZBN,ZCL, ZD,ZEC,ZEE,ZEK,ZEM,ZFH,ZFJ,ZGD,ZGI,ZGL,ZIA,ZIC,ZIG,ZIN,ZJE,ZJF,ZJG,ZJK,ZJM,ZKB,ZKE,ZKK,ZKM,ZLA,ZLL,ZML,ZNC,ZNH, ZO,ZOC,ZOF,ZOI,ZOK,ZPB,ZPG,ZQG,ZQL,ZRM, ZS,ZSA,ZSC,ZSE,ZSF,ZSJ, ZT,ZTA,ZTE,ZTH,ZTI,ZTJ,ZUH,ZVD,ZVG,ZVM,ZWB,ZWK, ZX,ZXB,ZXJ,ZYF,ZYL, ZZ,ZZA,ZZC,ZZJ

Find the longest case(s) by number of events

In [10]:
max_number = df_2.loc[df_2.event_number == df_2.event_number.max()].caseid
print("The longest cases by event_number are the following: " + max_number.to_string(index=False).replace('\n', ','))

The longest cases by event_number are the following: MBL